@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c4ktmz');
  src:  url('fonts/icomoon.eot?c4ktmz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c4ktmz') format('truetype'),
    url('fonts/icomoon.woff?c4ktmz') format('woff'),
    url('fonts/icomoon.svg?c4ktmz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e9f6";
}
.icon-2:before {
  content: "\e9f7";
  color: #fff;
}
.icon-3:before {
  content: "\e9f8";
  color: #c4c4c4;
}
.icon-4:before {
  content: "\e9f9";
  color: #c4c4c4;
}
.icon-5:before {
  content: "\e9fa";
  color: #c4c4c4;
}
.icon-6 .path1:before {
  content: "\e9fb";
  color: rgb(75, 74, 75);
}
.icon-6 .path2:before {
  content: "\e9fc";
  margin-left: -3.5595703125em;
  color: rgb(196, 196, 196);
}
.icon-6 .path3:before {
  content: "\e9fd";
  margin-left: -3.5595703125em;
  color: rgb(75, 74, 75);
}
.icon-6 .path4:before {
  content: "\e9fe";
  margin-left: -3.5595703125em;
  color: rgb(196, 196, 196);
}
.icon-6 .path5:before {
  content: "\e9ff";
  margin-left: -3.5595703125em;
  color: rgb(75, 74, 75);
}
.icon-7:before {
  content: "\ea00";
  color: #c4c4c4;
}
.icon-8 .path1:before {
  content: "\ea01";
  color: rgb(196, 196, 196);
}
.icon-8 .path2:before {
  content: "\ea02";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path3:before {
  content: "\ea03";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path4:before {
  content: "\ea04";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path5:before {
  content: "\ea05";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path6:before {
  content: "\ea06";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path7:before {
  content: "\ea07";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path8:before {
  content: "\ea08";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path9:before {
  content: "\ea09";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path10:before {
  content: "\ea0a";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path11:before {
  content: "\ea0b";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path12:before {
  content: "\ea0c";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path13:before {
  content: "\ea0d";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path14:before {
  content: "\ea0e";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path15:before {
  content: "\ea0f";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path16:before {
  content: "\ea10";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path17:before {
  content: "\ea11";
  margin-left: -3.0830078125em;
  color: rgb(163, 163, 163);
}
.icon-8 .path18:before {
  content: "\ea12";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path19:before {
  content: "\ea13";
  margin-left: -3.0830078125em;
  color: rgb(196, 196, 196);
}
.icon-8 .path20:before {
  content: "\ea14";
  margin-left: -3.0830078125em;
  color: rgb(75, 74, 75);
}
.icon-9:before {
  content: "\ea15";
  color: #c4c4c4;
}
.icon-10:before {
  content: "\ea16";
  color: #c4c4c4;
}
.icon-11 .path1:before {
  content: "\ea17";
  color: rgb(196, 196, 196);
}
.icon-11 .path2:before {
  content: "\ea18";
  margin-left: -2.5556640625em;
  color: rgb(146, 148, 151);
}
.icon-11 .path3:before {
  content: "\ea19";
  margin-left: -2.5556640625em;
  color: rgb(196, 196, 196);
}
.icon-11 .path4:before {
  content: "\ea1a";
  margin-left: -2.5556640625em;
  color: rgb(196, 196, 196);
}
.icon-11 .path5:before {
  content: "\ea1b";
  margin-left: -2.5556640625em;
  color: rgb(101, 101, 102);
}
.icon-11 .path6:before {
  content: "\ea1c";
  margin-left: -2.5556640625em;
  color: rgb(196, 196, 196);
}
