$baseFontSize: 17px;

//colors
$black: #000;
$black50: rgba(0,0,0, 0.5);
$white: #fff;
$gray-light: #f2f2f2;
$brown: #333333;
$red: #E03D22;
$dark-red: #B12D17;
$yellow: #FFFF00;



//fonts
$default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$futuraBook: 'OpenSans', $default;
