// variable overrides
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px
) !default;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";