.main {
  flex: 1 0 auto;
  background-image: url('../../dist/img/kz_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  width: 100%;
  height: 100%;
  display: flex;

  &__block {
    display: flex;
    width: 65%;
    justify-content: space-between;
    flex-basis: 65%;
    z-index: 100;
    position: relative;

    &--image {
      background: url('../../dist/img/cat.png');
      background-repeat: no-repeat;
      background-position: bottom;
      // height: rem(223px);
      width: rem(213px);
      display: flex;
      align-items: flex-end;
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 75%;
      flex-basis: 75%;
      padding-top: rem(20px);
    }
    &--title {
      color: $red;
      font: normal bold rem(45px)/rem(45px) $futuraBook;
      text-align: center;
      text-shadow: 0px 4px 0px $black;
    }

    &--text {
      background-color: $black50;
      padding: 10px;
      // margin-bottom: 20px;
    }
    &--paragraph {
      color: $white;

      &-yellow{
        color: $yellow;
      }
      &-middle{
        font: normal bold rem(26px)/normal  $futuraBook;
        text-align: center;
        text-transform: uppercase;
      }
      &-small{
        font: normal normal rem(12px)/normal $futuraBook;
        text-align: center;
      }
    }
    &--button {
      display: flex;
      align-items: center;
      margin-left: calc(0% - 120px);
      // height: 300px;

      &-button {
        width: rem(225px);
        height: rem(55px);
        background: linear-gradient(180deg, $red 0%, $dark-red 100%);
        box-shadow: rem(1px) rem(1px) 0px $dark-red;
        border-radius: rem(4px);
        color: $white;
        text-transform: uppercase;
        z-index: 50;

        &:hover {
          background-color: $dark-red;
        }
        &:active{
          background-color: $dark-red;
        }
      }
    }
  }

  &__image {
    width: 35%;
    flex-basis: 35%;
    // display: flex;

    &--girl {
      display:flex;
      width: 340px;
      z-index: 50;
      left: calc(55% + 0px);
      align-items: flex-end;
      top: calc(10% + 60px);
      position: absolute;
    }
    &--coins {
      position:relative;
      width: 70%;
      height: 100%;
    }
  }
}

.one {
  background: url('../../dist/img/top.png');
  background-repeat: no-repeat;
  background-position: top;
  width: rem(144px);
  height: rem(150px);
  position: relative;
  top: rem(30px);
}
.two {
  background: url('../../dist/img/left.png');
  background-repeat: no-repeat;
  background-position: right;
  width: rem(144px);
  height: rem(150px);
  // margin-right: rem(-25px);
}
.three {
  background: url('../../dist/img/right.png');
  background-repeat: no-repeat;
  background-position: bottom;
  width: rem(144px);
  height: rem(150px);
  // margin-left: rem(-25px);
}
.four {
  background: url('../../dist/img/bottom.png');
  background-repeat: no-repeat;
  background-position: left;
  width: rem(144px);
  height: rem(150px);
  position: relative;
  top: rem(-15px);
}
.vertical__wrapper{
  display: flex;
flex-direction: column;
left: calc(45% + 20px);
position: relative;
}
