.header {
  background: $brown;
  font-family: 'Futura New Book', $default;
  font-size: rem(21px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(10px);
  box-shadow: 0 rem(10px) rem(20px) rgba(0, 0, 0, 0.05);

  &__logo{
    background: url('../../dist/img/logo.png') no-repeat center;
    width: rem(270px);
    height: rem(39px);
    // margin-left: rem(10px);
  }

  &__menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    // margin-right: rem(10px);

    &--jackpot{
      color: $white;
    }

    &--text{
      background-image: url('../../dist/img/jackpot.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 160px;
      height: 39px;
    }

    &--select{

    }
  }
}
