.mt--6px {
  margin-top: rem(-6px);
}

.mt-15px {
  margin-top: rem(15px);
}

.mr-10px {
  margin-right: rem(10px);
}

.mr-20px {
  margin-right: rem(20px);
}

.mr-30px {
  margin-right: rem(30px);
}

.mr-50px {
  margin-right: rem(50px);
}

.mr-60px {
  margin-right: rem(60px);
}

.mr-90px {
  margin-right: rem(90px);
}

.ml-10px {
  margin-left: rem(10px);
}

.mb-2px {
  margin-bottom: rem(2px);
}

.mb-20px {
  margin-bottom: rem(20px);
}

.mb-25px {
  margin-bottom: rem(25px);
}

.mb-30px {
  margin-bottom: rem(30px);
}

.mb-40px {
  margin-bottom: rem(40px);
}

.mb-70px {
  margin-bottom: rem(70px);
}